doctype html

html
    head
        //- meta(http-equiv="Content-Security-Policy", content="script-src 'self' app: 'unsafe-inline' 'unsafe-eval' ")
        script(type="text/javascript" src="app://node_modules/brython/brython.js")
        script(type="text/javascript" src="app://node_modules/brython/brython_stdlib.js")
        script(type="text/javascript" src="app://node_modules/bootstrap/dist/js/bootstrap.bundle.js")
        link(href="app://node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet")
        link(href="app://css/main.css" rel="stylesheet")
        link(href="app://todo-mvc/static/css/todo-mvc.css" rel="stylesheet")

        title#title Electron - Python GUI

    body(onload="brython()")
        script(type="text/python" src="app://py/menuHandler.py")
        script(type="text/python" src="app://py/documentHandler.py")

        div#container
            nav
                h1#titleshown
                
                div#buttons
                    div#minimize
                        span -
                    div#maximize
                        span +
                    div#close
                        //- span &times;
                        span x

            main#main.container.d-flex
                div.row.align-self-center.w-100
                    div.col-12.mx-auto
                        section.todoapp
                            header.header
                                h1 todos
                                input.new-todo(placeholder="What needs to be done?" autofocus)
                            
                            if tasks != null
                                - var completed = false
                                //- This section should be hidden by default and shown when there are todos
                                section#app-main.main
                                    input#toggle-all.toggle-all(type="checkbox")
                                    label(for="toggle-all") Mark all as complete
                                    ul.todo-list
                                        each task in tasks
                                            if task.completed == true
                                                - var completed = task.completed
                                            li(class={completed: task.completed})
                                                div.view
                                                    input(class="toggle" type="checkbox" checked=task.completed)
                                                    label=task.title
                                                    button.destroy
                                                input.edit(value=task.title)
                                
                                //- This footer should hidden by default and shown when there are todos
                                footer#footer.footer
                                    //- This should be `0 items left` by default
                                    span.todo-count #[strong 0] item left
                                    ul.filters
                                        li
                                            a(class={selected: select == null} href="/") All
                                        li
                                            a(class={selected: select == "active"} href="/active") Active
                                        li
                                            a(class={selected: select == "complete"} href="/completed") Completed
                                    if completed
                                        button#clear-completed.clear-completed Clear completed
                        footer.info
                            p Double-click to edit a todo
                            p Written by 
                                button#creator Reese Perry
                            p Part of 
                                button#TodoMVC TodoMVC