doctype html

html
    head
        //- meta(http-equiv="Content-Security-Policy", content="script-src 'self' app: 'unsafe-inline' 'unsafe-eval' ")
        script(type="text/javascript" src="app://node_modules/brython/brython.js")
        script(type="text/javascript" src="app://node_modules/brython/brython_stdlib.js")
        script(type="text/javascript" src="app://node_modules/bootstrap/dist/js/bootstrap.bundle.js")
        link(href="app://node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet")
        link(href = "app://css/main.css" rel = "stylesheet")

        title#title Electron - Python GUI

    body(onload="brython()")
        script(type="text/python" src="app://py/menuHandler.py")
        script(type="text/python" src="app://py/documentHandler.py")

        div#container
            nav
                h1#titleshown
                
                div#buttons
                    div#minimize
                        span -
                    div#maximize
                        span +
                    div#close
                        //- span &times;
                        span x

            main#main.container.pt-5.mx-auto
                section.todoapp
                    header.header
                    h1 Todos
                    input(class="new-todo" placeholder="What needs to be done?" autofocus="" onkeypress="addItem(event)")
                    section.main
                        ul.todo-list
                    footer.footer