
html
    head
        link(href="app://node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet")
        link(href="app://css/loading.css" rel="stylesheet")
    body(style="background: transparent")
        div.center

        div.inner-spin
        
            div.inner-arc.inner-arc_start-a
            div.inner-arc.inner-arc_end-a

            div.inner-arc.inner-arc_start-b
            div.inner-arc.inner-arc_end-b
            
            div.inner-moon-a
            div.inner-moon-b

        div.outer-spin
        
            div.outer-arc.outer-arc_start-a
            div.outer-arc.outer-arc_end-a

            div.outer-arc.outer-arc_start-b
            div.outer-arc.outer-arc_end-b

            div.outer-moon-a
            div.outer-moon-b